.theory{
    margin: 0 auto;
    background-color: rgb(229, 247, 247);
    text-align: center;
    max-width: 70%;
    border: 1px solid;
    border-radius: 20px;


}
h1{
    font-size: 18px;
}

h2{
    font-size: 16px;
}
p{
    font-size: 12px;
}

.practice{
    text-align: start;
}

.practice h1{
    text-align: center;
}